---
import imagenAbout from "../assets/img.webp";
const { id } = Astro.props;
---

<section id={id} class="px-4 py-12 dark:bg-[#0a192f] bg-[#ffffff]">
  <!-- Título general arriba de las columnas -->
  <h2
    class="text-3xl md:text-4xl font-extrabold text-center mb-4 uppercase text-[#525d86] dark:text-[#ffffff]"
  >
    Sobre mi
  </h2>

  <!-- Línea decorativa -->
  <hr
    class="w-24 h-1 mx-auto mb-10 bg-[#1e2231] dark:bg-[#7e84f5] rounded border-0"
  />

  <article
    class="mx-auto max-w-7xl w-full flex flex-col lg:flex-row items-center md:items-start gap-8"
  >
    <!-- Imagen (columna 1) -->
    <div class="w-full md:w-1/2 flex justify-center items-center m-auto">
      <img
        src={imagenAbout.src}
        alt="Imagen de presentación"
        loading="lazy"
        class="rounded-xl object-cover sm:max-w-xs w-full h-auto shadow-md"
      />
    </div>

    <!-- Texto (columna 2) -->
    <div
      class="w-full text-gray-700 dark:text-[#ccd6f6] leading-relaxed text-base min-[376px]:text-[18px] m-auto"
    >
      <p class="leading-9 px-2.5">
        Hola, soy estudiante de la UTP en la carrera de Ingeniería de Software,
        con orientación al Desarrollo Web y con un enfoque en ofrecer soluciones
        eficientes a problemas complejos. Me guío por valores como la
        <strong class="font-semibold"
          >disciplina, responsabilidad y proactividad</strong
        >, esenciales para trabajar en equipo y desarrollar software con
        propósito. No cuento con experiencia laboral, pero sí con experiencia en
        el desarrollo de proyectos que pueden marcar la diferencia. Busco mi
        primera oportunidad profesional donde pueda aplicar todos los
        conocimientos adquiridos, con el fin de seguir aprendiendo y poder
        aportar valor a la empresa que pueda ingresar. A corto plazo quiero
        fortalecer mis bases en desarrollo de aplicaciones; y a largo plazo,
        especializarme en Inteligencia Artificial para aplicarla a diversas
        situaciones y generar un impacto positivo en las personas.
      </p>
    </div>
  </article>
</section>

<!-- Degradado entre secciones -->
<div
  class="h-32 w-full bg-gradient-to-b from-[#ffffff] to-[#f4f4f4] dark:from-[#0a192f] dark:via-[#071a2d] dark:to-[#001320]"
>
</div>
