---
const { id } = Astro.props;
import Social from "./component/social.astro";
---

<footer
  id={id}
  class="py-30 px-4 dark:bg-[#001320] bg-[#f4f4f4] text-gray-700 dark:text-white text-center"
>
  <!-- Enlaces principales -->
  <div class="mb-10">
    <nav class="flex flex-wrap justify-center gap-8 text-lg font-medium">
      <a href="#sobre-mi" class="hover:text-[#525d86] transition-colors"
        >Sobre mí</a
      >
      <a href="#habilidades" class="hover:text-[#525d86] transition-colors"
        >Habilidades</a
      >
      <a href="#proyectos" class="hover:text-[#525d86] transition-colors"
        >Proyectos</a
      >
      <a href="#contacto" class="hover:text-[#525d86] transition-colors"
        >Contacto</a
      >
      <a href="#inicio" class="hover:text-[#525d86] transition-colors">Inicio</a
      >
    </nav>
  </div>

  <!-- Línea divisoria -->
  <hr class="my-6 border-gray-300 dark:border-gray-600" />

  <!-- Parte inferior: derechos + íconos -->
  <div
    class="flex flex-col md:flex-row justify-between items-center max-w-5xl mx-auto px-4 gap-5"
  >
    <p class="text-base md:text-xl">
      ©2025 Jesús Rivera - Todos los derechos reservados
    </p>

    <!-- Íconos de redes -->
    <div class="flex space-x-4">
      <!-- Email -->
      <Social
        href="mailto:jr860086@gmail.com"
        ariaLabel="email"
        iconClass="fa-solid fa-envelope"
        textColor="#000000"
      />

      <!-- Github -->
      <Social
        href="https://github.com/JesusRivX"
        ariaLabel="github"
        iconClass="fa-brands fa-github"
        textColor="#000000"
      />

      <!-- Linkedin -->
      <Social
        href="https://www.linkedin.com/in/jes%C3%BAs-rivera-04058620a/"
        ariaLabel="linkedin"
        iconClass="fa-brands fa-linkedin"
        textColor="#0b6aca"
      />
    </div>
  </div>
</footer>
