<aside
  class="fixed bottom-4 left-1/2 -translate-x-1/2 bg-[#001320] border border-[#2c2f3a] rounded-full px-4 py-2 flex items-center gap-3 shadow-lg z-50"
>
  <!-- Contenedor para el bot贸n y el tooltip -->
  <div class="relative group flex flex-col items-center">
    <div
      class="absolute -top-10 bg-black text-white text-xs px-2 py-1 rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200"
    >
      Inicio
    </div>

    <!-- Enlace para la redirecci贸n -->
    <a href="#principal">
      <div
        class="w-10 h-10 rounded-full flex items-center justify-center hover:scale-125 bg-[#1e293b] text-white transition-transform duration-200"
      >
        <i class="fa-solid fa-desktop"></i>
      </div>
    </a>
  </div>

  <div class="relative group flex flex-col items-center">
    <div
      class="absolute -top-10 bg-black text-white text-xs px-2 py-1 rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200"
    >
      Informaci贸n
    </div>

    <a href="#informacion">
      <div
        class="w-10 h-10 rounded-full flex items-center justify-center hover:scale-125 bg-[#2a2d38] text-white transition-transform duration-200"
      >
        <i class="fa-brands fa-readme"></i>
      </div>
    </a>
  </div>

  <div class="relative group flex flex-col items-center">
    <div
      class="absolute -top-10 bg-black text-white text-xs px-2 py-1 rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200"
    >
      Herramientas
    </div>
    <a href="#herramientas">
      <div
        class="w-10 h-10 rounded-full flex items-center justify-center hover:scale-125 bg-[#2a2d38] text-white transition-transform duration-200"
      >
        <i class="fa-solid fa-chart-simple"></i>
      </div>
    </a>
  </div>

  <!-- Bot贸n central -->
  <div class="relative group flex flex-col items-center">
    <div
      class="absolute -top-10 bg-black text-white text-xs px-2 py-1 rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200"
    >
      Proyectos
    </div>
    <a href="#proyectos">
      <div
        class="w-10 h-10 rounded-full flex items-center justify-center hover:scale-125 bg-[#2c2f3a] text-white transition-transform duration-200"
      >
        <i class="fa-solid fa-code"></i>
      </div>
    </a>
  </div>

  <div class="relative group flex flex-col items-center">
    <div
      class="absolute -top-10 bg-black text-white text-xs px-2 py-1 rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200"
    >
      Contacto
    </div>
    <a href="#contacto">
      <div
        class="w-10 h-10 rounded-full flex items-center justify-center hover:scale-125 bg-[#2a2d38] text-white transition-transform duration-200"
      >
        <i class="fa-solid fa-comment"></i>
      </div>
    </a>
  </div>
</aside>
